/*
$base-dark: #26498C;
$base-light: #4E80C0;
$background: #F2F2F2;
$emphasis-dark: #12274E;

$contrast: white;

$gradient: linear-gradient(-180deg, $base-light 0%, $base-dark 100%);
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
$border: solid 1px #979797;
*/
$base-dark: #015F56;
$base-light: #009688;
$background: #F2F2F2;
$emphasis-dark: #003C36;

$contrast: white;

$gradient: linear-gradient(-180deg, $base-light 0%, $base-dark 100%);
$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
$border: solid 1px #979797;